<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/welcome.css">
    <title>RULES N REGULATIONS</title>
</head>
<body>
    <div class="content">
        <h1> > RULES AND REGULATIONS < </h1>
        <h2>Welcome {{name}}!!</h2>
        <ul>
            <li>Game will start eventually when you press start game button.</li>
            <li>You will be given 30s in totall.</li>
            <li>If you type the word correctly, you will be granted three more seconds. </li>
            <li>On every word that you type correctly 1 point will be added to your max score. </li>
            <li>If you fail to type the word within given time the game will be over.</li>
        </ul>

        <div class="start-game-button">
            <button><a href="/game">Start Game</a></button>
        </div>
    </div>
</body>
</html>